body {
/*  font-family: Arial, Helvetica, sans-serif;
  color: #767676;*/
}
/*
.output-container {
  min-width: 330px;
  padding-bottom: 35px !important;
}
.input-container {
  min-width: 350px;
  padding-bottom: 35px !important;

}
*/
#pre-loader img{
	width: 150px;
	height: 150px;
}
#input-img {
  width: 250;
  height: 250;
}
.center-container {
  display: flex;
  justify-content: center;
}
.style-container {
  display: flex;
  justify-content: space-around;
  min-width: 250px;
/*  margin-top: 20px;*/
	margin-top: 10px;
}
.input-container .container,
.output-container .container{
  position: relative;
    text-align: center;
}

.container1 {
    text-align: center;
}

.image {
/*  margin-bottom: 10px;*/
  width: 80px;
  height: 80px;
  cursor: pointer;
	float: left;
}
.imageAnchor:focus img{
  border: 4px solid #84ba3f;
}



/* Responsiveness */
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
}
/* For desktop: */
.col-3 {width: 30%;}
/* .col-10 {width: 100%;} */

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  [class*="col-"] {
      width: 100%;
  }
}

#bookmarkflag {    
/*  font-family: Roboto,"Helvetica Neue",sans-serif;*/
  position: absolute;
  right: -264px;
  width: 500px;
  top: -133px;
  font-size: 12px;
  background: rgb(43, 144, 226);
  padding: 200px 0 9px;
  color: #fff;
  font-weight:bold;
  text-decoration:none;
  text-align: center;
  vertical-align: bottom;
  box-shadow: 0 0 11px 0 rgba(0,0,0,.75);
/*  font-transform: capitalize;*/
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#bookmarkflag:hover {
  text-decoration:underline;
}
#bookmarkflag .bookmarklink {
  line-height: 15px;
  font-weight: 900;
}

/*
a {
  color: rgb(43, 144, 226);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
*/
.link {
/*  color: #000;*/
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
input[type="file"] {
  position: absolute;
  display: none;
}


#output-img-container,
#output-img-container1,
#output-img-container2{
  display: flex;
  justify-content: center;
}
.reverse-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.note {
  font-size: 12px;
}

.tab .nav.nav-tabs li a {
    padding: 8px 15px;
}

.mg-250 {
    margin: -250px;
}

.white-bg .container .col-lg-4 button.btn-circle,
.white-bg .container .col-lg-6 button.btn-circle{
    border-radius: 50%;
}

.tab .nav.nav-tabs li a{
    padding: 8px;
}
.nav.nav-tabs li a {
    margin-right: 0!important;
    margin-bottom: 0!important;
}

.border {
	border-color: #eeeeee!important;
}

.tab-border .tab-content {
	border: 0;
}

.content-menu ul li{
	width: 80px;
	height: 80px;
	float: left;
}

.center-container1 {
/*	line-height: 250px;*/
    max-width:  100%;
	display: table;
	height: 250px;
	overflow: hidden;
/*	height: 100%;*/
/*
     display:  flex;
     align-items: center;
     justify-content:  center;
	position: relative;
*/
}



.style-img-box{
/*
	     width:100%; 
     height: 100%;
     position: absolute;
     text-align: center;
*/
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
/*
.style-img-box:before{
     content: ' '; 
     display: inline-block;
     width: 100%;
     height: 0;
     vertical-align: middle;
}

.style-img-box img{
     max-width: 100%; 
     max-height: 100%;
     width: auto;
     height: auto;
     display: inline-block;
     vertical-align: middle;
    }
*/

.center-container1 img {
	width: 360px!important;
	height: auto;
	margin-top: -8%;
}

/*
.content-menu ul li .content-photo-name{
	width: 80px;
	height: 20px;
	float: left; 
	bottom: 20px; 
	position: relative; 
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding-left: 5px;
	font-size: 10px;
	line-height: 20px;
	left: 0;
}
*/

.center-container .photo-name-box{
	width: -webkit-fill-available;
	margin: 0 15px;
	text-align: center;
	height: 40px;
	float: left;
    bottom: 97px;
    position: absolute;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding:0 10px;
	line-height: 40px;
	left: 0;
	
}

.center-container .photo-name-box a{
	float: right;
}
#defaultCanvas0 {
	display: none;
}

.style-name-box{
	height: 38px; 
	line-height: 38px; 
	text-align: center;     
	background: #f6f7f8;
    color: #353535;
    border: 1px solid #eeeeee;
	border-bottom: 0;
}

.style-container .download-btn{
	border-radius: 50%;
    width: 42px;
    padding: 9px 14px;
}

.photo-name-box img{
	width: 20px;
	height: 20px;
}
.social img{
	width: 23px;
	height: 23px;
}

.share .social ul li a.ncs{
    padding: 4px 8px 6px 8px;
}

.share .social ul li .svg:hover{
	filter: invert(0.9);
}


.share .social ul li:last-child{
    border-left: 1px solid #fff;
    padding-left: 10px;
}

.h-90 {
	height: 90px;
}

.l-height-90 {
	line-height: 90px;
}

.uploadimgbtn-box {
	height: 90px;
	line-height: 90px;
	margin-top: 0;
	border-top: 1px solid #eeeeee;
}
@media (max-width: 992px) {
    .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    display: none;
	}
}

@media (min-width: 992px) {
/*
	.output-container {
		height: 500px;
	}
*/
}